.banner-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.banner-image {
  position: absolute;
  background: url(../img/IMG_1800.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

  top:50px;
  left: 50px;
  right: 50px;
  bottom: 50px;

  @media (max-width: 991px) {
    top:0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
}

.banner-logo {
  width: 375px;
  height: 150px;
  background: url(../img/白字logo.png) no-repeat;
  background-size: cover;
  text-indent:101%;
  overflow:hidden;
  white-space:nowrap;
  display:block;
}

.banner-icon {
  color: $light;
  &:hover {
    color: $secondary;
  }
}