h2 {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 60%;
    height: 1px;
    background-color: black;
    margin-left: 16px;
  }

  @media (max-width: 991px) {
    &:after {
      width: 50%;
    }
  }
}