.sticky-work-container {
  position: relative;
  .sticky-work-image {
    position: sticky;
    top: 144px;

    .image-overlay {
      visibility: hidden;
      transition: 0.5s ease-in-out;
    }
  
    &:hover {
      .image-overlay{
        visibility: visible;
        background-color: rgba(0, 0, 0, 0.3);
        outline: 1px solid $light;
        outline-offset: -10px;
      }
    }
  }
}



  